
* 

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
 
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



* {
    font-family: 'Raleway', sans-serif;
    scroll-behavior: smooth;
}


body {
    display: block;
    animation: fadeIn 2s;
    font-family: 'Raleway';
    margin: 0px 30px;
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

#fadeIn {
    opacity: 1
}


:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

.card-title {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}

.card-subtitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px
}

p {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.main-container {
    max-width: 1440px;
    margin: auto;
    box-sizing: border-box;
    overflow-x: hidden;
}

/* Header and navigation styles */
header {
    display: flex;
    justify-content: space-between;
}

.logo-header {
    display: flex;
    width: 61px;
    height: 19px;
    margin: 30px 0px;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.navbar ul {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 68px;
}

.navbar li {
    list-style: none;
    display: inline-block;
    position: relative;
}

.navbar a {
    display: inline-block;
    margin-top: 15px;
}

.navbar-hebergements a::before, .navbar-activities a::before {
    content: "";
    display: inline-block;
    width: 100%;
    height: 2px;
    background-color: var(--main-color);
    transform: scaleX(0);
    transform-origin: center top;
    transition: transform 0.3s ease;
    position: absolute;
    top: 0;
}

.navbar a:hover::before {
    transform: scaleX(1);
}

.headline p {
    padding-top: 10px;
}

/* Search bar styles */
.search-bar {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    border: 1px solid var(--main-bg-color);
    border-radius: 15px;
    width: 377px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.search-icon {
    background-color: var(--main-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: inherit;
    border-top-left-radius: inherit;
    width: 50px;
}

.search-icon i {
    color: black;
    text-align: center;
}

.search-input {
    border: none;
    padding: 8px;
    font-size: 16px;
}

.search-input::placeholder {
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    color: black;
    text-align: center;
}

.search-button {
    background-color: var(--main-color);
    color: white;
    border: none;
    border-radius: 4px;
    border-bottom-right-radius: inherit;
    border-top-right-radius: inherit;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    padding: 12px;
    width: 132px;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
}

.h2-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px
}

/* Filter bar  */
.filter-container {
    display: flex;
    align-items: center;
    padding-bottom: 30px;
}

.filter-title {
    margin-right: 20px
}

.filter-bar {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 20px;
}

.filter-card {
    display: flex;
    align-items: center;
    gap: 10px;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    padding: 15px;
    font-weight: bold;
    cursor: pointer;
}

.filter-card:hover {
    background-color: var(--filter-bg-color);
}

.filter-card i {
    font-size: 20px;
}

.filter-card span {
    font-weight: 700;
    font-size: 17px;
    line-height: 19px;
}

.info-bar {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-bottom: 30px;
}

.info-bar i {
    display: flex;
    justify-content: center;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border: 2px solid #D9D9D9;
    border-radius: 50%;
    font-size: 12px;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    font-weight: 700;
    font-size: 22px;
    line-height: 25px;
}

/* Hebergements and Populaires sections */
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

/* Hebergements section */
.hebergements {
    box-sizing: border-box;
    padding: 30px;
    background-color: var(--main-bg-color);
    border-radius: 15px;
    flex: 6
}

.hebergements-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding-top: 25px;
}

.hebergement {
    border-radius: 20px;
    height: 207px;
    gap: 4px;
    background-color: white;
    width: calc(33.33% - 20px);
}

.hebergement img {
    object-fit: cover;
    width: 100%;
    height: 124px;
    border-radius: 20px 20px 0px 0px;
    border: 5px solid white;
    box-sizing: border-box;
}

.hebergement-info {
    display: flex;
    flex-direction: column;
    padding: 0px 15px;
    gap: 8px;
}

.hebergements-load-more {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    padding-top: 35px;
}

/* Populaires section */
.populaires {
    background-color: var(--main-bg-color);
    border-radius: 15px;
    padding: 30px;
    gap: 30px;
    flex: 3
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card {
    display: flex;
    margin-top: 30px;
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

.neutral-star {
    color: var(--main-bg-color)
}

.price-currency {
    font-weight: 600;
    font-size: 14px;
    line-height: 16px
}

/* Activities section */
.activities {
    padding: 30px;
    gap: 30px;
    margin-bottom: 30px;
}

.activities-title {
    margin: 30px 0px;
}

.activities-cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.activities-card {
    border-radius: 20px;
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.1);
    flex-grow: 1;
    flex-basis: calc(25% - 30px);
    box-sizing: border-box;
    height: 439px;
}

.activities-card img {
    width: 100%;
    height: 380px;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}

.activities-card-title {
    display: flex;
    align-items: center;
    border-radius: 0px 20px;
    padding: 10px 19px;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    height: 2.5vh;
}

/* Footer */
footer {
    width: 100%;
    height: 100%;
    display: flex;
    background-color: var(--main-bg-color)
}

.footer-column {
    width: 100%;
    padding: 20px;
}

.footer-column ul {
    display: inline;
}

.footer-column li {
    list-style: none;
    padding-top: 20px;
}

.section-footer a {
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
}

/* MEDIA QUERIES */

/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {


    .main-container {
        width: 100%;
        max-width: 1024px;
        box-sizing: border-box;
    }

    .filter-container {
        display: inline-block;
        align-items: center;
        padding-bottom: 30px;
    }

    .filter-title {
        padding-bottom: 20px;
    }

    .hebergements-and-populaires {
        flex-direction: column;
        width: 100%;
    }

    .hebergements {
        margin-bottom: 10px;
    }

    .hebergements-cards {
        justify-content: center;
        flex-shrink: 1;
        flex-basis: calc(100% / 2);
    }

    .populaires {
        padding: 30px;
        box-sizing: border-box;
    }

    .populaires-cards {
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }

    .card {
        width: 100%;
    }

    .populaires-cards a {
        width: 30%;
    }

    .activities {
        padding: 30px;
        gap: 30px;
        box-sizing: border-box;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .activities-cards {
        width: 100%;
    }

    .activities-card {
        height: 270px;
    }

    .activities-card img {
        height: 200px;
    }

    .activities-card-title {
        padding: 20px 19px;
    }

    footer {
        width: 100%;
    }

}

/* Small devices (phones, less than 768px) */
@media (min-width: 320px) and (max-width: 768px) {

    body {
        margin: 0;
    }

    .main-container {
        width: 100%;
        max-width: 768px;
        box-sizing: border-box;
    }

    .infos-search-and-filter {
        padding: 0px 20px;
        margin-top: 50px;
    }

    header {
        display: inline;
    }

    .logo-header {
        margin: auto;
        margin-top: 30px;
        margin-bottom: 15px;
        max-width: 100%;
        height: auto;
    }

    .navbar ul {
        display: flex;
        width: 100%;
        gap: 15px;
    }

    .navbar li {
        width: 50%;
        text-align: center;
    }

    .navbar::before {
        content: "";
        background-color: var(--main-bg-color);
        height: 2px;
        width: 100%;
        position: absolute;
        top: 130px;
        left: 0;
    }

    .navbar-hebergements::before, .navbar-activities::before {
        content: "";
        width: 100%;
        height: 2px;
        background-color: var(--main-color);
        transform: scaleX(0);
        transform-origin: center top;
        transition: transform 0.3s ease;
        position: absolute;
        top: 66px;
        left: 0;
    }

    .navbar-hebergements:hover::before, .navbar-activities:hover::before {
        transform: scaleX(1);
    }

    .navbar a::before {
        display: none;
    }

    .search-bar {
        border-radius: 15px;
        width: 100%;
    }

    .search-icon {
        background-color: var(--main-bg-color);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 15px 0px 0px 15px;
        width: 50px;
    }

    .search-icon i {
        color: black;
        text-align: center;
    }

    .search-input {
        width: 100%;
    }

    .search-button {
        font-size: 0px;
        border-radius: 15px;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        margin: 0;
        padding: 15px 16px 15px 16px;
        width: 49px;
    }

    .search-button::before {
        content: "\f002";
        font-family: 'Font Awesome 6 Free';
        font-weight: 900;
        font-size: 17px;
        line-height: 1px;
        vertical-align: middle;
    }

    .filter-container {
        display: inline;
        padding: 0;
    }

    .filter-bar {
        flex-wrap: wrap;
        justify-content: space-between;
        text-align: center;
        padding-bottom: 30px;
    }

    .filter-card {
        flex-grow: 1;
        flex-basis: calc(33.333% - 30px);
        height: 2vh;
    }

    filter-card i {
        font-size: 20px;
    }

    .filter-card span {
        font-weight: bold;
        font-size: 14px;
    }

    .info-bar {
        width: 100%;
        display: flex;
    }

    .info-bar i {
        width: 24px;
        text-align: center;
    }

    .hebergements-and-populaires {
        gap: 0;
    }

    .populaires {
        width: 100%;
        order: 0;
        border-radius: 0;
        padding: 20px;
    }

    .populaires-cards {
        flex-direction: column;
        gap: 15px;
    }

    .populaires-cards a {
        width: 100%;
    }

    .populaires-title {
        padding-bottom: 20px;
    }

    .populaires-cards .card {
        margin: 0;
        box-sizing: border-box;
    }

    .hebergements {
        order: 1;
        background-color: transparent;
        padding: 20px;
    }

    .hebergements-cards {
        flex-direction: column;
        gap: 15px;
        margin-top: 15px;
    }

    .hebergement {
        box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.1);
        width: 100%;
    }

    .hebergement-info {
        padding: 0px 15px;
        height: 7vh;
    }

    .load-more {
        margin-top: 20px;
    }

    .activities {
        order: 3;
        width: 100%;
        padding: 30px;
        margin: 0;
    }

    .activities-cards {
        flex-direction: column;
        width: 100%;
        gap: 15px;
    }

    .activities-card {
        width: 100%;
        height: 200px;
        flex-basis: 0;
    }

    .activities-card img {
        height: 141px;
        object-fit: cover;
    }

    footer {
        width: 100%;
        flex-direction: column;
        margin-top: 40px;
        padding-bottom: 10px;
    }

    .footer-column {
        gap: 15px;
    }
}